{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form  action="" method="post">
    {% csrf_token %}
    <input type="text"   name="username"  required  placeholder="Enter your username"><br>
    <input type="password"   name="password"  required  placeholder="Enter your password"><br>
    <button type="submit">Submit</button><br>
    <a href="/register">Register link</a>


</form>
</body>
{% endblock %}